:root{
    --cordefundo: #3F51B5;
    --branco: #fff;
}

.caixa{
    background-color: var(--cordefundo) !important;

}
.botao{
    color: #fff;
}


.titulo {
    color: var(--branco) !important; 
    font-weight: bold !important;
}


.postagens{
    background-color: var(--branco);
}